.verifyDocumentContainer {
  padding-top: 15vh;
  margin: 15vh 1rem 5rem 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.verifyDocument {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.verifyDocument input[type='text'], .verifyDocument input[type='number'] {
  height: 40px;
  width: 100%;
  padding: 0px 0.5rem;
  background-color: transparent;
  color: white;
  border: 1px solid #4e4e4e;
  border-radius: 3px;
}
.verifyDocument input[type='button'] {
  height: 40px;
  width: 50%;
  padding: 0px 0.5rem;
  color: white;
  border: 0px;
  border-radius: 3px;
  font-weight: bold;
  background: linear-gradient(
    140deg,
    rgba(54, 190, 255, 1) 0%,
    rgba(115, 63, 241, 1) 100%
  );
}
